@font-face {
    font-family: Samim;
    font-style: normal;
    font-weight: 900;
    src: url('../Samim-Bold-FD.eot');
    src: url('../Samim-Bold-FD.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../Samim-Bold-FD.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../Samim-Bold-FD.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../Samim-Bold-FD.ttf') format('truetype');
}

@font-face {
    font-family: Samim;
    font-style: normal;
    font-weight: bold;
    src: url('../Samim-Bold-FD.eot');
    src: url('../Samim-Bold-FD.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../Samim-Bold-FD.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../Samim-Bold-FD.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../Samim-Bold-FD.ttf') format('truetype');
}

@font-face {
    font-family: Samim;
    font-style: normal;
    font-weight: 400;
    src: url('../Samim-FD.eot');
    src: url('../Samim-FD.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../Samim-FD.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../Samim-FD.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../Samim-FD.ttf') format('truetype');
}

/*@font-face {*/
/*    font-family: Samim;*/
/*    font-style: normal;*/
/*    font-weight: 300;*/
/*    src: url('../Samim-Light-FD.eot');*/
/*    src: url('../Samim-Light-FD.eot?#iefix') format('embedded-opentype'), !* IE6-8 *! url('../Samim-Light-FD.woff2') format('woff2'), !* FF39+,Chrome36+, Opera24+*! url('../Samim-Light-FD.woff') format('woff'), !* FF3.6+, IE9, Chrome6+, Saf5.1+*! url('../Samim-Light-FD.ttf') format('truetype');*/
/*}*/

/*@font-face {*/
/*    font-family: Samim;*/
/*    font-style: normal;*/
/*    font-weight: 200;*/
/*    src: url('../Samim-Thin-FD.eot');*/
/*    src: url('../Samim-Thin-FD.eot?#iefix') format('embedded-opentype'), !* IE6-8 *! url('../Samim-Thin-FD.woff2') format('woff2'), !* FF39+,Chrome36+, Opera24+*! url('../Samim-Thin-FD.woff') format('woff'), !* FF3.6+, IE9, Chrome6+, Saf5.1+*! url('../Samim-Thin-FD.ttf') format('truetype');*/
/*}*/

/*@font-face {*/
/*	font-family: IRANSans;*/
/*	font-style: normal;*/
/*	font-weight: normal;*/
/*	src: url('../fonts/eot/IRANSansWeb.eot');*/
/*	src: url('../fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  !* IE6-8 *!*/
/*		 url('../fonts/woff2/IRANSansWeb.woff2') format('woff2'),  !* FF39+,Chrome36+, Opera24+*!*/
/*		 url('../fonts/woff/IRANSansWeb.woff') format('woff'),  !* FF3.6+, IE9, Chrome6+, Saf5.1+*!*/
/*		 url('../fonts/ttf/IRANSansWeb.ttf') format('truetype');*/
/*}*/
