@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: 900;
    src: url('../Vazir-Black-FD.eot');
    src: url('../Vazir-Black-FD.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../Vazir-Black-FD.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../Vazir-Black-FD.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../Vazir-Black-FD.ttf') format('truetype');
}

@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: bold;
    src: url('../Vazir-Bold-FD.eot');
    src: url('../Vazir-Bold-FD.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../Vazir-Bold-FD.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../Vazir-Bold-FD.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../Vazir-Bold-FD.ttf') format('truetype');
}

@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: 400;
    src: url('../Vazir-FD.eot');
    src: url('../Vazir-FD.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../Vazir-FD.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../Vazir-FD.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../Vazir-FD.ttf') format('truetype');
}

@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: 300;
    src: url('../Vazir-Light-FD.eot');
    src: url('../Vazir-Light-FD.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../Vazir-Light-FD.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../Vazir-Light-FD.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../Vazir-Light-FD.ttf') format('truetype');
}

@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: 200;
    src: url('../Vazir-Thin-FD.eot');
    src: url('../Vazir-Thin-FD.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../Vazir-Thin-FD.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../Vazir-Thin-FD.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../Vazir-Thin-FD.ttf') format('truetype');
}

/*@font-face {*/
/*	font-family: IRANSans;*/
/*	font-style: normal;*/
/*	font-weight: normal;*/
/*	src: url('../fonts/eot/IRANSansWeb.eot');*/
/*	src: url('../fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  !* IE6-8 *!*/
/*		 url('../fonts/woff2/IRANSansWeb.woff2') format('woff2'),  !* FF39+,Chrome36+, Opera24+*!*/
/*		 url('../fonts/woff/IRANSansWeb.woff') format('woff'),  !* FF3.6+, IE9, Chrome6+, Saf5.1+*!*/
/*		 url('../fonts/ttf/IRANSansWeb.ttf') format('truetype');*/
/*}*/
